{
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html", "*.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
